export(mapTypes)
S3method("mapTypes", default)
S3method("mapTypes", String)
S3method("mapTypes", integer)
S3method("mapTypes", numeric)
S3method("mapTypes", logical)
S3method("mapTypes", factor)
S3method("mapTypes", date)
export(gaction)
export(gbutton)
export(gcalendar)
export(gcanvas)
export(gcheckbox)
export(gcheckboxgroup)
export(gcombobox)
export(gmessage)
export(gconfirm)
export(ginput)
export(galert)
export(gedit)
export(gexpandgroup)
export(gfile)
export(gframe)
export(ggooglemaps)
export(ggooglemaps_marker)
export(ggooglemaps_infowindow)
export(ggooglemaps_polyline)
export(ggooglemaps_polygon)
export(ggroup)
export(ghtml)
export(gseparator)
export(gimage)
export(glabel)
export(glayout)
export(gmenu)
export(gnotebook)
export(gpanedgroup)
export(gradio)
export(gslider)
export(gspinbutton)
export(gstatusbar)
export(gsvg)
export(gtable)
export(gtext)
export(gtree)
export(enabled)
S3method(enabled, ExtObject)
export("enabled<-")
S3method("enabled<-", ExtObject)
export("font<-")
S3method("font<-", ExtObject)
export("size<-")
S3method("size<-", ExtObject)
export(tag)
S3method(tag, ExtObject)
export("tag<-")
S3method("tag<-", ExtObject)
export("visible<-")
S3method("visible<-", ExtObject)
export(svalue)
S3method(svalue, ExtObject)
export("svalue<-")
S3method("svalue<-", ExtObject)
export("editable<-")
S3method("editable<-", ExtObject)
S3method("[", ExtObject)
S3method("[<-", ExtObject)
S3method("names", ExtObject)
S3method("names<-", ExtObject)
S3method(length, ExtObject)
S3method(update, ExtObject)
export(insert)
S3method(insert, ExtObject)
export(add)
S3method(add, ExtObject)
export(delete)
S3method(delete, ExtObject)
export(dispose)
S3method(dispose, ExtObject)
export(addHandlerChanged)
export(addHandlerClicked)
export(addHandlerDoubleClick)
export(addHandlerColumnClicked)
export(addHandlerColumnDoubleClick)
export(addHandlerMouseMotion)
export(addHandlerKeystroke)
export(addHandlerFocus)
export(addHandlerBlur)
export(addHandlerDestroy)
export(addHandlerIdle)
export(removeHandler)
export(blockHandler)
export(unblockHandler)
import(methods)
import(Rook)
export(gwindow)
export(asIcon)
export(isIcon)
export(make_stock_icons)
export(getStockIcons)
export(getStockIconByName)
export(addStockIcons)
export(String)
export(coerceToJSString)
S3method("coerceToJSString", default)
S3method("coerceToJSString", character)
S3method("coerceToJSString", factor)
S3method("coerceToJSString", logical)
S3method("coerceToJSString", String)
S3method("coerceToJSString", list)
export(toJSObject)
export(emptyJSArray)
export(toJSArray)
S3method("toJSArray", default)
S3method("toJSArray", numeric)
S3method("toJSArray", String)
S3method("toJSArray", logical)
S3method("toJSArray", character)
S3method("toJSArray", factor)
S3method("toJSArray", matrix)
S3method("toJSArray", list)
S3method("toJSArray", data.frame)
export(isURL)
export(asURL)
export(get_tempfile)
export(get_tempfile_url)
export(load_app)
