export(pmg)
export(pmg.gw)
export(pmg.add)
export(pmg.addMenubar)
export(pmg.eval)
export(pmgRepeatTrials)
export(plotecdf)
export(kurtosis)
export(summarized.t.test)

S3method("kurtosis","default")
S3method("kurtosis","character")
S3method("kurtosis","factor")
S3method("kurtosis","list")
S3method("kurtosis","data.frame")
export(skewness)
S3method("skewness","default")
S3method("skewness","character")
S3method("skewness","factor")
S3method("skewness","list")
S3method("skewness","data.frame")

