import(qtbase)
import(gWidgets)
importClassesFrom(qtbase) 

exportMethods(
"[", 
".glabel", ".gbutton", ".gcheckbox", ".gradio", ".gdroplist",
".gcheckboxgroup", ".gspinbutton", ".gslider", ".gedit", ".gtext", ".ghtml",
".gmenu", ".gtoolbar", ".gtable",  
".gfile", ".gfilebrowse", 
".gimage", ".gstatusbar", ".gseparator",
".gvarbrowser", ".gwindow", ".ggroup", ".gframe", ".gexpandgroup",
".gnotebook", ".glayout",
              ".gpanedgroup",
"svalue", "svalue<-", "add", "addSpace", "addSpring", "insert", "delete",
"dispose", "visible", "visible<-", "defaultWidget","defaultWidget<-", "enabled", "enabled<-",
              "isExtant", "size",
"size<-", "focus", "focus<-", "font", "font<-", "undo", "redo", "tag", "tag<-", "id",
"id<-",  "addhandler", "addhandlerchanged", "addhandlerkeystroke",
"addhandlerclicked", "addhandlerdoubleclick", "addhandlerrightclick",
              "addhandlerfocus","addhandlerblur",
"addhandlerdestroy", "addhandlerexpose", "addhandlerunrealize",
              "addhandlermousemotion",
              "addhandleridle", "addpopupmenu", "add3rdmousepopupmenu",
"adddropsource", "adddropmotion", "adddroptarget",
              "removehandler","blockhandler","unblockhandler",
".svalue", ".svalue<-",
".leftBracket", ".leftBracket<-", ".add", ".addSpace", ".addSpring",
".insert", ".delete", ".dispose", ".visible", ".visible<-",
              ".defaultWidget",".defaultWidget<-",
              ".enabled",
".enabled<-",
              ".isExtant",
              ".size", ".size<-", ".focus", ".focus<-", 
".font<-",
              ".undo", ".redo",
              ".tag", ".tag<-", ".id", ".id<-",
              ".addhandler", ".addhandlerchanged",
              ".addhandlerkeystroke", ".addhandlerclicked",
              ".addhandlerdoubleclick",              ".addhandlerrightclick",
              ".addhandlerfocus",".addhandlerblur",
              ".addhandlerdestroy", ".addhandlerexpose", ".addhandlerunrealize",
              ".addhandlermousemotion",
              ".addhandleridle", ".addpopupmenu", ".add3rdmousepopupmenu",
              ".adddropsource", ".adddropmotion", ".adddroptarget", ".gmessage",
              ".ginput", ".gconfirm", ".gbasicdialog",
              ".removehandler",".blockhandler",".unblockhandler",
              ".svalue",
              "update",".update",
              "length",".length",
              "dim",".dim",
              "dimnames",
              "dimnames<-",
              "names",".names",
              "names<-",".names<-",
              ".gdf", ".gdfnotebook", ".gtree", ".gcalendar",  ".ggraphics",
#              ".gsvg",
              ".ggraphicsnotebook",  ".dimnames",".dimnames<-",
              ".getToolkitWidget"
              )

## export
export("gbigtable",".gbigtable", "gqtobject")
